services:
  - type: web
    name: kupiyproday
    env: node
    region: oregon
    plan: free
    branch: main
    rootDir: backend
    buildCommand: cd .. && chmod +x build.sh && ./build.sh
    startCommand: cd src && node server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGODB_URI
        sync: false
      - key: PORT
        value: 10000
